* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    user-select: none;
}

.wrapper {
    display: flex;
    min-height: 100vh;

    & .right__column {
        background-color: #CAD2C5;
        min-width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;

        & .senha__atual {
            color: #fff;
            text-align: center;
            background-color: #354f52;
            padding: 2rem;
            border-radius: 20px;
            width: 50%;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            animation-name: bubble;
            animation-duration: 1s;
            

            @keyframes bubble {
                0% {
                    background-color: #354f52;
                    transform: scale(100%);
                    
                }

                50% {
                    background-color: red;
                    transform: scale(105%);
                    outline: 10px solid red;
                    outline-offset: 15px;
                }

                100% {
                    background-color: #354f52;
                    transform: scale(100%);
                }
            }
            
            & h3 {
                font-size: 3rem;
            }

            & h1 {
                font-size: 7rem;
            }
        }
    }

    & .left__column {
        background-color: #52796F;
        min-width: 30vw;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        align-items: center;

        & .senha {
            color: #fff;
            text-align: center;
            background-color: #354f52;
            padding: 2rem;
            border-radius: 20px;
            width: 300px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            
            & h3 {
                font-size: 1.5rem;
            }

            & h1 {
                font-size: 3rem;
            }
          }
    }
}

.controls {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;

    & button {
        padding: 1rem;
        background-color: #52796F;
        color: #fff;
        border-radius: 20px;
        border-style: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        font-weight: 700;

        &:hover {
            background-color: #354f52;
        }
    }
}

//Totally for testing purposes!
.selected {
    transition: all 0.2s ease-in-out;
    transform: scale(90%);
    opacity: 0.5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #52796F;
    max-width: 80vw;
    padding: 2rem;
    border-radius: 20px;
    min-height: 100vh;

    & .media__visualizer {
        background-color: #354f52;
        padding: 1.5rem;
        border-radius: 20px;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        overflow-y: auto;
        max-height: 90vh;
        min-height: 50vh;
        

        & .media {
            transition: all 0.2s ease-in-out;
            margin-block: auto;
            & img, video {
                object-fit: cover;
                border-radius: 20px;
            }
            &:hover {
                opacity: 0.5;
            } 
        }
    }
}